@use '../utils' as *;

.gallery {
  padding-top: getClamp(140, 174);

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 700px) {
      border-radius: 20px;
      background: rgb(54, 54, 54);
      padding: 40px 5px;
    }
  }

  &__title {
    color: rgb(0, 0, 0);
    font-family: DIN Condensed;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 5%;
    text-align: center;

    @media (max-width: 700px) {
      color: rgba(235, 222, 203, 0.8);
    }
  }

  .swiper {
    margin-top: 20px;
    width: fit-content;
    height: fit-content;
    overflow: hidden;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  .swiper-slide {
    width: getClamp(169, 276);
  }

  &__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: getClamp(20, 40);
  }

  &__img {
    width: fit-content;
    border-radius: 20px;
    img {
      border-radius: inherit;
    }
  }

  &__note {
    width: 100%;
    height: getClamp(36, 65);
    border-radius: 9999px;
    background: rgb(54, 54, 54);

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgb(255, 255, 255);
    font-family: DIN Condensed;
    font-size: getClamp(16, 24);
    font-weight: 700;
    line-height: calc(29 / 24) * 100%;
    letter-spacing: 5%;
    text-align: center;

    @media (max-width: 700px) {
      background: rgba(235, 222, 203, 0.8);
    }
  }
}
