@use 'reset';
@use 'utils' as *;

@use 'blocks/header';
@use 'blocks/promo';
@use 'blocks/map';

html {
  scroll-snap-type: y mandatory;
}

.visually-hidden {
  display: none;
}

.section {
  scroll-snap-align: start;

  width: 100%;
  min-height: 100vh;
  background: rgba(235, 222, 203, 0.8);
}

.container {
  position: relative;
  width: 100%;
  padding: 0 getClamp(10, 28);
}
