@use 'reset';
@use 'utils' as *;

@use 'blocks/header';
@use 'blocks/promo';
@use 'blocks/complexes';
@use 'blocks/tasks';
@use 'blocks/orders';
@use 'blocks/gallery';
@use 'blocks/faq';
@use 'blocks/footer';

html,
body {
  height: 100vh;
  overflow: hidden;
}

.main {
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: y mandatory;
}

.visually-hidden {
  display: none;
}

.section {
  scroll-snap-align: start;

  width: 100%;
  min-height: 100vh;
  background: rgba(235, 222, 203, 0.8);
}

.container {
  position: relative;
  width: 100%;
  padding: 0 getClamp(10, 28);
}

.desktop-850 {
  @media (max-width: 850px) {
    display: none;
  }
}

.mobile-850 {
  display: none;
  @media (max-width: 850px) {
    display: block;
  }
}
